@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../../fonts/Poppins-Regular.eot') format('eot');
    src: url('../../../fonts/Poppins-Regular.svg') format('svg');
    src: url('../../../fonts/Poppins-Regular.ttf') format('ttf');
    src: url('../../../fonts/Poppins-Regular.woff') format('woff');
    src: url('../../../fonts/Poppins-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../../fonts/Poppins-Bold.eot') format('eot');
    src: url('../../../fonts/Poppins-Bold.svg') format('svg');
    src: url('../../../fonts/Poppins-Bold.ttf') format('ttf');
    src: url('../../../fonts/Poppins-Bold.woff') format('woff');
    src: url('../../../fonts/Poppins-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../../fonts/Poppins-SemiBold.eot') format('eot');
    src: url('../../../fonts/Poppins-SemiBold.svg') format('svg');
    src: url('../../../fonts/Poppins-SemiBold.ttf') format('ttf');
    src: url('../../../fonts/Poppins-SemiBold.woff') format('woff');
    src: url('../../../fonts/Poppins-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../../fonts/Poppins-Medium.eot') format('eot');
    src: url('../../../fonts/Poppins-Medium.svg') format('svg');
    src: url('../../../fonts/Poppins-Medium.ttf') format('ttf');
    src: url('../../../fonts/Poppins-Medium.woff') format('woff');
    src: url('../../../fonts/Poppins-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../fonts/Roboto-Regular.eot') format('eot');
    src: url('../../../fonts/Roboto-Regular.svg') format('svg');
    src: url('../../../fonts/Roboto-Regular.ttf') format('ttf');
    src: url('../../../fonts/Roboto-Regular.woff') format('woff');
    src: url('../../../fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../../fonts/Roboto-Bold.eot') format('eot');
    src: url('../../../fonts/Roboto-Bold.svg') format('svg');
    src: url('../../../fonts/Roboto-Bold.ttf') format('ttf');
    src: url('../../../fonts/Roboto-Bold.woff') format('woff');
    src: url('../../../fonts/Roboto-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto-SemiBold';
    src: url('../../../fonts/Roboto-SemiBold.eot') format('eot');
    src: url('../../../fonts/Roboto-SemiBold.svg') format('svg');
    src: url('../../../fonts/Roboto-SemiBold.ttf') format('ttf');
    src: url('../../../fonts/Roboto-SemiBold.woff') format('woff');
    src: url('../../../fonts/Roboto-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../../fonts/Roboto-Medium.eot') format('eot');
    src: url('../../../fonts/Roboto-Medium.svg') format('svg');
    src: url('../../../fonts/Roboto-Medium.ttf') format('ttf');
    src: url('../../../fonts/Roboto-Medium.woff') format('woff');
    src: url('../../../fonts/Roboto-Medium.woff2') format('woff2');
}


.confirmation-submit{margin: 40px auto;}
.confirmation-submit a{font-size: 18px;color: #fff;text-decoration: none;font-family:'Poppins-Regular';justify-content: center;display:flex;padding: 8px 18px;border-radius: 8px;border: 1px solid #3DA222;background: #3DA222;}